@import "./dark.scss";

$primary: #0094ff;

$light-gray: #dddddd;
$lighter-gray: #999999;
$gray: #b6b6b6;
$dark-gray: #787878;

$cover-color: $gray;
$cover-text: $dark-gray;

$lighten: #0003;
$darken: #fff3;

$bg: $light-gray;
$text: #222;

$border-color: $lighter-gray;
