@import "./dark.scss";

$primary: #ffbb00;
$light-gray: #9e3030;
$lighter-gray: #752525;
$gray: #3f1414;
$dark-gray: #2e0808;

$cover-color: $dark-gray;
$cover-text: $gray;

$darken: #0003;
$lighten: #fff3;

$bg: $dark-gray;
$text: rgb(223, 195, 117);

$red: rgb(207, 68, 25);

$border-width: 2px;
$border-color: $lighter-gray;