@import './vars.scss';

html {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    transition: background 0.1s linear, opacity 0.1s linear, filter 0.1s linear, transform 0.15s ease-out;
    font-weight: normal;
}

@import "./general.scss";