button,
input,
select {
    transition: border 0.1s linear, box-shadow 0.1s linear;
    border: none;
    color: $text;
    font-family: minecraft;

    max-width: 200px;

    &:focus,
    &:hover {
        outline: none;
        border-color: transparent;
    }
}

button,
[type="submit"],
[role="button"] {
    padding: 5px;
    cursor: pointer;

    @mixin image($file) {
        position: relative;

        &,
        &::after {
            background-image: $file;
            background-size: cover;
            image-rendering: pixelated;
        }

        &::after {
            @include pseudo();
            width: 2px;
            transform: translate(-100%, -50%);
            left: 100%;
            background-position: right;
        }
    }

    @include image(url("../assets/button.png"));

    &:focus,
    &:hover {
        @include image(url("../assets/button_active.png"));
    }

    &.selected {
        @include image(url("../assets/button_selected.png"));
    }

    &:disabled {
        pointer-events: none;
        color: $light-gray;

        @include image(url("../assets/button_disabled.png"));
    }
}

input {
    &[type="text"],
    &[type="password"] {
        padding: 5px;
        background-color: #0005;
        border-radius: 0;
        border: 2px solid #0008;
    }
}
