img {
  position: relative;
  height: 100%;
  width: 100%;
  image-rendering: pixelated;

  &:after {
    @include pseudo();
    background-color: #777;
    background-image: url('../assets/unknown_server.png');
  }
}
