#list {
    display: grid;
    justify-content: center;
    padding: 20px 0;

    .servers {
        li {
            width: 80vw;
            max-width: 600px;
            $size: 100px;
            height: $size;
            display: grid;
            align-items: center;
            grid-template:
                "icon title address status"
                "icon description description button"
                / $size 1fr;
            gap: 10px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            text-align: left;

            img {
                grid-area: icon;
                image-rendering: pixelated;
            }

            h1 {
                grid-area: title;
            }

            h2 {
                grid-area: description;
                font-size: 1.2rem;
                color: #CCC;
            }

            button {
                grid-area: button;
                width: 40px;
                height: 40px;
            }

            .address {
                grid-area: address;
                color: #AAA;
            }

            .status {
                $size: 20px;
                gap: 15px;
                grid-area: status;
                align-items: flex-end;
                height: $size;

                display: grid;
                grid-template:
                    "text icon"
                    / 1fr $size;
                justify-self: right;
            }
        }
    }
}
