.messages {
    position: fixed;
    z-index: 1001;

    right: 20px;
    top: 20px;

    border: none;

    .message {
        background-color: $gray;
        padding: 20px;
        padding-right: 30px;
        text-align: center;
        border-radius: 15px;
        border: 1px dashed $lighter-gray;
        box-shadow: 1px 3px 5px 0 #000a;
        opacity: 0;
        width: 200px;

        svg {
            position: absolute;
            right: 20px;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        transition: opacity 0.3s, transform 0.4s, margin-top 0.4s linear;

        &.exit-active, &.exit-done {
            margin-top: -70px;
        }

        &.enter-active, &.enter-done {
            opacity: 1;
        }
    }
}
