nav {
  grid-area: nav;

  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    li {
      padding: 10px;

      &.active,
      &:hover {
        color: $primary;
      }
    }
  }
}
